/* General */

/* Index */
#div_choix1{
    
    /* border:2px solid #000000; */
    margin-bottom: 10px;
    display: block;
}

#div_choix2{
    height: 110px;
    /* border:2px solid #000000; */
    display: block;
}
#text_choix2{
    width: auto;
    margin-right: 10px;
    float:left;
}

#bouton_add2{
    width: auto;
    float:left;
}

#div_choix3{
    height: 110px;
    display: none;
    /* border:2px solid #000000; */
    
}
#text_choix3{
    width: auto;
    margin-right: 10px;
    float:left;
}
#bouton_add3{
    width: auto;
    margin-right: 10px;
    float:left;
}
#bouton_supp3{
    width: auto;
    float:left;
}


#div_choix4{
    height : 110px;
    display: none;
    /* border:2px solid #000000; */
}


/* Roulette 2 */
#roulette2{
    display: inline-flex;
    animation-duration:1s;
    animation-name : rotating;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    /* border: 2px solid #000000; */
}

#roulette_2_choix_1{
    text-align: center;
    /* border: 2px solid #000000; */
    position:absolute;
    top:230px;
    left:-50px; 
    width:150px; 
    height:20px; 
    z-index:2;
    font-size:120%;
    rotate: 270deg;
}

#roulette_2_choix_2{
    text-align: center;
    /* border: 2px solid #000000; */
    position:absolute;
    top:230px;
    left:417px; 
    width:150px; 
    height:20px; 
    z-index:2;
    font-size:120%;
    rotate: 90deg
}

@keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.tourne {
    animation-play-state: running;
    
}

.stop {
    animation-play-state: paused;
}


/* Roulette 3 */

/* Roulette 4 */

